<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feature Support Report</title>
</head>

<body>
    <h2>Feature Support Report</h2>
    <p>This report shows the features supported by each one of the currently configured DualSPHysics suite tools. </p>
    <h3>GenCase ({gencase_fullname})</h3>
    <h4>Features:</h4>
    <ul>
        {gencase_features}
    </ul>
    <h3>DualSPHysics ({dsph_fullname})</h3>
    <h4>Features:</h4>
    <ul>
        {dsph_features}
    </ul>

</body>

</html>